/* CSS del los elementos comunes de todos los HTMLs (algunos están en los otros apartados) */
body{
    font-family: 'Teko', sans-serif;
    background-color: rgb(121, 9, 76);
    color: rgb(121, 9, 76);
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#welcome{
	display: flex;
	justify-content: center;
	text-align: center;
    background-color: white;
}
h1{
    color: white;
}
#welcome h1{
    font-size: 40px;
    color: rgb(121, 9, 76);
}
#welcome h2{
    font-weight: 300;
    padding: 0px 10px;
}
.bienvenido{
    margin: unset;
    padding-top: 10px;
}
/* CSS del contador del carrito */
#contcarrito{
    color: white;
    font-size: 30px;
}
/* CSS del logo del carrito */
#carrito{
    transition: 0.2s;
}
#carrito:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/* CSS del la página principal */
#menu{
	display: flex;
	justify-content: center;
	margin: 2.2% 5%;
	gap: 25px;
}
.product{
    position: relative;
    width: 25%;
    border: 1px solid #cccccc;
    padding: 30px;
    max-width: 250px;
	text-align: center;
    background-color: white;
}
.product div{
    position: relative;
}
.product h1{
	font-weight: 800;
    font-size: 40px;
}
.product h2{
	font-weight: 300;
}
.product h3{
    font-weight: 400;
    font-size: 25px;
}
.product img {
    max-width: 100%;
    height: auto;
  }
.product p{
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}
.product a:link {
    text-decoration: none;
    color: rgb(121, 9, 76);
}
.product a:visited {
    color: rgb(121, 9, 76);
}
/* Configuración de los 3 HTML de productos */
.product1{
    display: flex;
    flex-direction: row;
    border: 1px solid #cccccc;
    padding: 30px;
    gap: 20px;
    background-color: white;
    margin-top: 15px;
}
.product1 div{
    position: relative;
}
.product1 p{
    margin-top: unset;
    font-size: 30px;
    font-weight: 300;
}
.product1 h3{
    margin: unset;
    font-size: 35px;
}
/* Configuración de los botones de HTML principal y de los productos */
.añadir{
    height: 35px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    color: white;
    background-color: rgb(121, 9, 76);
    font-family: 'Teko', sans-serif;
    font-size: 20px;
    transition: .2s;
}
.añadir:hover{
    color: rgb(121, 9, 76);
    background-color: white;
    cursor: pointer;
}
/* Configuración para la página del carrito */
.totalcarrito{
    margin-bottom: unset;
}
.botoncarrito{
    margin-top: 10px;
    height: 50px;
    width: 100%;
    color: rgb(121, 9, 76);
    background-color: white;
    border-color: rgb(121, 9, 76);
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    transition: 0.2s;
}
.botoncarrito:hover{
    color: white;
    background-color: rgb(184, 16, 116);
}
/* Responsive para todos HTMLs */
@media (max-width: 1350px) {
	.product1 p{
        font-size: 25px;
    }
    .product1 h3{
        font-size: 30px;
    }
}
@media (max-width: 1050px) {
    .product h3{
        font-size: 22px;
    }
    .product p{
        font-size: 17px;

    }
	.product1 img{
        height: 400px;
    }
    .product1 p{
        font-size: 20px;
    }
    .product1 h3{
        font-size: 25px;
    }
}
@media (max-width: 850px) {
    .product h3{
        font-size: 20px;
    }
    .product p{
        font-size: 17px;

    }
	.product1 img{
        height: 375px;
    }
    .product1 p{
        font-size: 17px;
    }
    .product1 h3{
        font-size: 20px;
    }
}
@media (max-width: 730px) {
    .product h3{
        text-align: left;
        font-size: 30px;
    }
    .product p{
        font-size: 25px;

    }
    #menu{
        flex-wrap: wrap;
    }
    .product{
        width: 100%;
        max-width: 400px;
    }
    .product1{
        flex-wrap: wrap;
        justify-content: center;
    }
    .product1 p{
        font-size: 20px;
    }
    .product1 h3{
        font-size: 25px;
    }
    .product1 img{
        max-width: 100%;
        height: auto;
    }
    .product1 button{
        position: unset;
    }

}
@media (max-width: 450px) {
    #carrito{
        width: 65px;
    }
    header a img{
        width: 150px;
    }
    #contcarrito{
        font-size: 25px;
    }
}

