:root{
    --main-blue: #2c82c9;
    --main-gray: #2e2e2e;
    --main-white: #DFF2EB;
}
*{
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: var(--main-gray);
    color: var(--main-white);
    margin: 0;
    padding: 0;
    
}
h2{
    color: var(--main-blue);
}
section{
    width: 100%;
}
.section{
    margin: 100px 0;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* NAME Section */
.name-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(62deg, var(--main-blue) , var(--main-gray)); */
}
.name-box{
    width: 50%;
    box-shadow: 0px 0px 70px 5px var(--main-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}
#pp-picture{
    display: block;
    width: 60%;
    max-width: 300px;
    height: auto;
    border-radius: 400px;
    /* border: 2px solid var(--main-blue); */
    margin: 30px 0;
}

/* TOOLS Section */
.tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0 auto;
    width: 80%;
}
i{
    font-size: 64px;
    color: var(--main-white);
}

/* PROJECT Section */
.workcard{
    width: 100%;
    height: 300px;
    background-color: var(--main-gray);
    border-radius: 5px;
    border: 2px solid var(--main-white);
    overflow: hidden;
    align-items: center;
    text-decoration: none;
    color: var(--main-white);
    transition: 0.3s ease-in-out;
}
.workcard p{
    text-align: center;
}
.workcard h3{
    margin: 10px 0;
}
.workcard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .7;
    transition: .5s ease;
}
.workcard img:hover{
    opacity: 1;
}
.workcard:hover{
    transform: scale(1.05);
    border: 2px solid var(--main-blue);
    color: var(--main-blue);

}
.work-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    width: 80%;
    max-width: 1280px;
    margin: 30px auto;
}
header {
    text-align: center;
}
h1, h2, h3{
    text-align: center;
}
h2{
    font-size: 2rem;
}
.division{
    border-bottom: 3px solid var(--main-blue);
}
.profile-name{
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--main-blue);
}

@media (max-width: 1000px) {
    .name-box{
        width: 70%;
        
    }
}
@media (max-width: 600px) {
    .name-box{
        width: 90%;
    }
    .name-box h1{
        font-size: 20px;
    }
    .name-box h3{
        font-size: 16px;
    }
    .profile-name{
        font-size: 2rem;
    }
    i{
        font-size: 48px;
    }
}
@media (max-width: 400px) {
    .work-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 350px) {
    .name-box{
        width: 90%;
    }
    .name-box h1{
        font-size: 14px;
    }
    .name-box h1, .name-box h2, .name-box h1, .name-box h3, .name-box .profile-name {
        margin: 5px auto;
    }
    .name-box h3{
        font-size: 12px;
    }
    .profile-name{
        font-size: 18px;
    }
    #pp-picture{
        width: 80%;
    }
    .project-section h2, .tools-section h2{
        font-size: 24px;
    }
    .workcard{
        height: 250px;
    }
    i{
        font-size: 28px;
    }
}
