:root {
  --main-blue: #2b498e;
  --main-white: #fff;
  --main-black: #121212;
  --main-grey: #333333;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--main-blue);
  color: var(--main-white);
  font-family: Verdana, Tahoma;
  font-size: 16px;
}
footer{
  padding: 15px;
  background-color: var(--main-blue);
  text-align: center;
}
footer p{
  font-size: 12px;
}

#title,
#description {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}
label {
  display: block;
  margin: 1rem 0;
}
#name-label,
#email-label,
#number-label,
.title {
  text-align: center;
}
input,
textarea,
select {
  margin-top: 10px;
  width: 100%;
  min-height: 3em;
  border-radius: 5px;
  padding: 10px;
}
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  accent-color: var(--main-blue);
}
input::placeholder,
textarea::placeholder {
  color: var(--main-white);
}
input[type="submit"] {
  display: block;
  cursor: pointer;
  background-color: #121212;
  margin: 0 auto;
  width: 60%;
}
input,
textarea {
  background-color: var(--main-grey);
  border: none;
  color: var(--main-white);
}
textarea {
  resize: vertical;
}
.inline {
  display: inline;
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
fieldset {
  margin: 2em 0;
  padding: 1em;
  border: none;
  background-color: var(--main-black);
}
select,
option {
  border: 2px solid #4f74c8;
  color: var(--main-white);
}
select {
  background-color: var(--main-grey);
}
